<div class="d-flex flex-column bg-primary fixed-aside-bar">
  <div class="main-aside-icon">
    <img
      class="px-3"
      src="/images/rectangle.png"
      alt="rectangle-icon"
      style="padding: 3px 0; margin: 0 auto; top: 10px"
    />
  </div>
  <div class="flex-grow-1">
    <figure class="icon-1">
      <img
        src="/svg/house-door.svg"
        alt="fi-home-icon"
        class="aside-icon"
      />
      <div>Dashboard</div>
    </figure>
    <figure class="icon-2">
      <img src="/svg/truck.svg" alt="fi-truck-icon" class="aside-icon" />
      <div>Cars</div>
    </figure>
  </div>
</div>
