@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

:root {
  font-family: 'IBM Plex Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


:root {
  --text-white: #ffffff;
  --text-neutral: #8A8A8A;
  --bg-neutral: #f0f0f0;
  --bg-primary: #0D28A6;
  --bg-subtle: #CFD4ED;
  --btn-success: #5CB85F;
  --bg-danger: #dc3545;
}

.fixed-aside-bar {
  position: relative;
}

.main-aside-icon {
  position: sticky;
  top: 10px;
}

.main-aside-icon img {
  display: block;
  margin: 0 auto;
}

.icon-1,
.icon-2 {
  position: sticky;
  font-size: 12px;
  color: var(--text-white);
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  top: 80px;
  padding: 5px 10px;
}

.icon-2 {
  top: 150px;
}

.icon-1:hover,
.icon-2:hover {
    background-color: rgba(255, 255, 255, .3);
}

.aside-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
width: 20px;
}

.bg-primary,
.btn-primary {
    background-color: var(--bg-primary) !important;
    border: var(--bg-primary) !important;
}

.w-17 {
  width: 17%;
}

.main-aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.main-aside a:nth-child(1) {
  margin-top: 15px;
}

.main-aside a {
  position: sticky;
  top: 90px;
  padding: 10px 0;
  padding-left: 20px;
  transition: .2s;
  text-decoration: none;
  color: var(--text-neutral);
  font-weight: 700;
  font-size: 14px;
}

.main-aside a:nth-child(2) {
  top: 150px;
}

.main-aside a:hover {
  background-color: var(--bg-subtle);
}

.bg-subtle {
  background-color: var(--bg-neutral);
}

.pe-6 {
  padding-right: 4rem;
}

.active-list-1 {
  font-size: 12px;
}

.active-list-1 img {
  margin: 0 5px;
}

/* .active-list-2 {
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.active-list-1 p {
  align-self: flex-end;
}

.active-list-2 button {
  float: right;
} */

.active-list-2 b {
  margin-right: 10px;
}

.border-primary {
  border-color: var(--bg-primary) !important;
  color: var(--bg-primary) !important;
  font-weight: 700 !important;
  font-size: 14px;
}

.border-primary:hover {
  color: var(--bg-primary) !important;
  background-color: rgba(13, 41, 165, .1) !important;
}

.btn-outline-primary {
  background-color: var(--bg-primary);
  color: var(--text-white);
  border-color: var(--bg-primary);
}

.btn-outline-primary:hover {
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

.btn-outline-primary:active {
  background-color: var(--bg-primary);
}

.user-name {
  border: 1px solid var(--bg-subtle);
  background-color: var(--bg-subtle);
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: 700;
}

.img-car-list {
  height: 300px;
  object-fit: cover;
}

.w-14 {
  width: 14%;
}

.btn-success {
  background-color: var(--btn-success) !important;
  border: 1px solid var(--btn-success) !important;
}

.btn-success:hover {
  background-color: #4e9c51;
  border: 1px solid #4e9c51;
}

.btn-submit {
  margin-top: 300px;
}

.btn-white {
  background-color: var(--text-white);
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}

.btn-white:hover {
  background-color: var(--bg-neutral);
  border: 1px solid var(--bg-primary);
  color: var(--bg-primary);
}