<body>
  <div class="d-flex">
    <%- include('../aside/aside') %>
    <div class="bg-secondary d-flex flex-column flex-grow-1">
      <%- include('../header/header') %>
      <%- include('../main/main') %>
     </div>
  </div>
  <%- include('../script/script') %>
</body>